.poke-banner {
  height: 55vh;
  width: 100vw;
  background-color: #df4342;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.fake {
  height: 55vh;
  width: 100vw;
  margin-bottom: 60px;
}

.poke-card {
  display: flex;
  width: 45%;
  background-color: #df4342;
}

.poke-gif-container {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 20px solid #dedede;
  border-radius: 12px;
}

.poke-gif {
  min-width: 250px;
  max-height: 350px;
  z-index: 55;
}

.poke-metadata {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.poke-stats-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  width: 100%;
}

.poke-stat-pill {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 8px;
  border-radius: 12px;
}

.poke-stat-label {
  display: flex;
  /* justify-content: center; */
  border-right: 1px solid white;
  padding-right: 10px;
  width: 400px;
}

.poke-stat-bar {
  background-color: #56b163;
  height: 100%;
  width: 100px;
}

.poke-instructions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
