.scroll-list {
  display: flex;
  flex-direction: row;
  height: 300px;
  background-color: aqua;
  gap: 30px;
  align-items: center;
  padding: 30px;
}

.scroll-item {
  background-color: brown;
  width: 185px;
  height: 160px;
}

.scroll-item[data-focused="true"] {
  background-color: black;
  transform: scale(1.1);
}
