body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: scroll;
}
