body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  overflow-y: hidden;

  font-family: "Press Start 2P", system-ui;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
  display: none;
}

.mobile-disclaimer {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  font-size: 2rem;
}
